.App {
  margin: 0px;
}

.NavBar{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.NavBar-menu a{
  margin-left: 15px;
}